<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>BUBBLES!</title>
</head>
<body>
  <div class="wrapper"></div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="bubbles.js"></script>
  <script>
    var stream = new EventSource('/stream')

    stream.onmessage = function(event) {
      var json = JSON.parse(event.data);

      var id   = json.id   || parseInt(Math.random() * 100000);
      var type = json.type || 'none';

      new Bubble().init(id, type);
    }

    <% if ENV['FLOW_DOCK_API_TOKEN'] %>
      <% (ENV['FLOW_DOCK_CHANNELS'] || '').split(',').each do |channel| %>
        var flow_stream = new EventSource('https://<%= ENV['FLOW_DOCK_API_TOKEN'] %>@stream.flowdock.com/flows?filter=<%= channel %>')

        flow_stream.onmessage = function(event) {
          console.log(event);
          var json = JSON.parse(event.data);
          console.log(json);
          var id   = json.id   || parseInt(Math.random() * 100000);
          var type = json.type || 'none';

          new Bubble().init(id, type);
        }
      <% end %>
    <% end %>
  </script>
</body>
</html>
